$def with(container, job_id, metric_name, start, end, duration)

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="en" />

  <title>$job_id-$metric_name Graph</title>

  <link rel="stylesheet" type="text/css" href="/css/jobbrowser.css" />
  <!--[if lte IE 7]>
      <style type="text/css"> body { font-size: 85%; } </style>
  <![endif]-->

  <link href="/css/jquery.dthms_picker.css" rel="stylesheet" type="text/css" />
  <link href="/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  <script src="/js/jquery-1.11.1/jquery.js" type="text/javascript"></script>
  <script src="/js/jquery-ui-1.11.2/jquery-ui.min.js" type="text/javascript"></script>
  <script src="/js/jquery.layout-latest.js" type="text/javascript"></script>
  <script src="/js/jquery.dthms_picker.js" type="text/javascript"></script>
  <script src="/js/jquery.dataTables.js" type="text/javascript"></script>
  <link href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
  <style>
    .ui-progressbar {
        position: relative;
    }
    .progress-label {
        position: absolute;
        left: 50%;
        top: 1px;
        // font-weight: bold;
        // text-shadow: 1px 1px 0 #fff;
    }
  </style>
<script type="text/javascript">
var container = "$container";
var job_id = "$job_id";
var metric_name = "$metric_name";
var job_start = parseInt($start);
var plot_cur_time = job_start;
var job_end = parseInt($end);
var job_duration = job_end - job_start;
var plot_duration = 3600;
var plot_skip = plot_duration / 2;
var play_timer = 0;
var render_time = 0;
var render_start = 0;
var progress_time_default = 5000;
var progress_time = progress_time_default;
var progress_timeout = 0;

function update_img_src(start, duration) {
    var img = \$("#metric_graph");
    var src="/JOB/plot?container=" + container
        + "&job_id=" + job_id
        + "&plot=" + metric_name
        + "&start=" + start
        + "&duration=" + duration;
    img.attr('src', src);
    render_start = new Date().getTime();
    if (render_time == 0)
	render_time = 2000;
    restart_progress(0);
}

function formatDate(aDate) {
    var str = aDate.getFullYear();
    var year = aDate.getFullYear(),
    mon = aDate.getMonth() + 1,
    day = aDate.getDate(),
    hour = aDate.getHours(),
    minute = aDate.getMinutes(),
    second = aDate.getSeconds();

    str = year;
    if (mon < 10)
        str += '/0' + mon;
    else
        str += '/' + mon;

    if (day < 10)
        str += '/0' + day;
    else
        str += '/' + day;

    str += ' ';

    if (hour < 10)
        str += '0' + hour;
    else
        str += hour;

    if (minute < 10)
        str += ':0' + minute;
    else
        str += ':' + minute;

    return str;
}

function advance_cur_time(skip) {
    plot_cur_time += skip;
    if (plot_cur_time + plot_duration > job_end)
        plot_cur_time = job_end - plot_duration;
    if (plot_cur_time < job_start)
        plot_cur_time = job_start
}

function update_plot_duration() {
    if (plot_duration > job_duration)
        plot_duration = job_duration;
    plot_skip = plot_duration / 2;
    progress_time = progress_time_default;
    render_time = 0;
}

var progressbar, progresslabel;

function progress() {
    var val = progressbar.progressbar( "value" ) || 0;
    progressbar.progressbar("value", val + 100);
    if (val < progress_time)
        setTimeout(progress, 100);
}

function restart_progress(wait) {
    progressbar.progressbar("value", 0);
    progressbar.progressbar("option", "max", progress_time);
    progress_timeout = setTimeout(progress, wait);
}

\$(document).ready(function() {

    var start_date = new Date(job_start * 1000);
    var end_date = new Date(job_end * 1000);
    var job_hrs = job_duration / 3600;

    render_start = new Date().getTime();
    update_plot_duration();

    \$("#job_start_time").val(formatDate(start_date));
    \$("#job_end_time").val(formatDate(end_date));
    \$("#job_duration").val(job_hrs.toFixed(2));

    \$("#begin").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
	    play_timer = 0;
	}
        plot_cur_time = job_start;
        update_img_src(plot_cur_time, plot_duration);
    });
    \$("#end").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
	    play_timer = 0;
	}
        plot_cur_time = job_end - plot_duration;
        update_img_src(plot_cur_time, plot_duration);
    });
    \$("#next").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
	    play_timer = 0;
	}
        advance_cur_time(plot_skip);
        update_img_src(plot_cur_time, plot_duration);
    });
    \$("#prev").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
	    play_timer = 0;
	}
        advance_cur_time(-plot_skip);
        update_img_src(plot_cur_time, plot_duration);
    });
    \$("#play").click(function() {
        if (play_timer != 0) {
            clearInterval(play_timer);
	    play_timer = 0;
	}
        play_timer = setInterval(function() {
            advance_cur_time(plot_skip);
            update_img_src(plot_cur_time, plot_duration);
            if (plot_cur_time == job_end - plot_duration) {
                clearInterval(play_timer);
                play_time = 0;
            }
        }, 5000);
    });
    \$("#plot_duration").val(plot_duration);
    \$("#plot_duration").change(function() {
        plot_duration = parseInt(this.value);
        update_plot_duration();
        advance_cur_time(0);
        update_img_src(plot_cur_time, plot_duration);
    });

    /*
     * Keep track of how long it takes to load the image so we can
     * adjust the progress bar timing
     */
    \$("#metric_graph").load(function() {
	var render_complete = new Date().getTime();
	render_time = render_complete - render_start;
	if (progress_timeout != 0) {
	    clearTimeout(progress_timeout);
	    progress_timeout = 0;
	}
	var max = progressbar.progressbar("option", "max");
	progressbar.progressbar("value", max);
	progress_time = render_time + 1000;
    });

    progressbar = \$( "#progressbar" );
    progressLabel = \$( ".progress-label" );
    progressbar.progressbar({
        value: false,
        change: function() {
	    var pct = progressbar.progressbar("value") / progress_time * 100;
            progressLabel.text( pct.toFixed(0) + "%" );
        },
        complete: function() {
            progressLabel.text( "Complete!" );
        }
    });
    progressbar.height("1.25em");
    restart_progress(0)
});

</script>
</head>
<body>
  <div style="float:left;">
    <label for="job_start_time" class="block_label">Start Time</label>
    <input type="text" id="job_start_time" readonly></input>
  </div>
  <div style="float:left; margin-left:.5em;">
    <label for="job_end_time" class="block_label">End Time</label>
    <input type="text" id="job_end_time" readonly/>
  </div>
  <div style="float:left; margin-left:.5em;">
    <label for="job_duration" class="block_label">Job Duration</label>
    <input type="text" id="job_duration" readonly/>
  </div>
  <div style="float:left; margin-left:.5em;">
    <label for="plot_duration" class="block_label">Plot Duration</label>
    <select id="plot_duration">
      <option value="1800">00:30</option>
      <option value="3600">01:00</option>
      <option value="7200">02:00</option>
      <option value="14400">04:00</option>
      <option value="28800">08:00</option>
      <option value="57600">16:00</option>
      <option value="86400">24:00</option>
    </select>
  </div>
  <br style="clear:both"/>
  <div>
    <img id="metric_graph"
         src="/JOB/plot?container=$container&job_id=$job_id&plot=$metric_name"/>
  </div>
  <div>
    <div style="float:left; width: 30%">
      <span>
        <button id="begin" type="button">Begin</button>
        <button id="prev" type="button">Prev</button>
        <button id="play" type="button">Play</button>
        <button id="next" type="button">Next</button>
        <button id="end" type="button">End</button>
      </span>
    </div>
    <div style="float:left; width: 60%">
      <div id="progressbar"><vi class="progress-label">Analyzing...</div></div>
    </div>
  </div>
</body>
